<!DOCTYPE html>
<html lang="en">
  <head>Please Register Here</head>
  <body>

    <form action="/register" method="POST" >

      <label for="email">Email ID</label>
      <input id="email" type="email" name="email" placeholder="email@email.com" >
      <br>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="password">
      <br>
      <Button type="submit" value="submit">Submit</Button>
    </form>

  </body>
</html>